.poniList {
  margin: 20px 0;
  padding: 0;
  list-style-type: none;
}
.poniList__item {
  padding: 10px;
}
.poniListHeader {
  margin: 40px 0 0 -30px;
  padding: 0;
  position: relative;
}
.poniListHeader::before {
  content: '';
  width: 100%;
  border-bottom: 1px solid black;
  display: block;
  position: absolute;
  bottom: 0;
}
.poniListBlock {
  text-align: left;
}
.poniList__desc {
  font-size: 0.8em;
  color: #bbb;
  marin: 5px 0;
}
.poniList__price {
  margin-left: 1em;
  font-weight: bold;
}
.poniList__new {
  color: burlywood;
  margin-left: 1em;
}
@media only screen and (max-width: 600px) {
  .poniListHeader {
    margin-left: 0;
  }
}