.poniApp {
  width: 600px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: right;
  padding-top: 20px;
}
a {
  color: darkslateblue;
  border-bottom: 1px solid aqua;
  text-decoration: none;
}